SUPABASE_URL=https://vvtcrqodhvwxiikjaqaz.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2dGNycW9kaHZ3eGlpa2phcWF6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY4Nzk2MzgxNCwiZXhwIjoyMDAzNTM5ODE0fQ.pGdXGrXA1g4kf1MgORijs0QSGCFokIRCrU40M9dcAAo
OPENAI_API_KEY=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
ANTHROPIC_API_KEY=null
JWT_SECRET_KEY=OG/68dI0tGwjAXOpXci8KDw3GS66jVxTAnZzAMR5FYK3DFw3otCLAwtaGdOmGrrtnKeV3bYolgSxRyNUgQqAAQ==
AUTHENTICATE=true
GOOGLE_APPLICATION_CREDENTIALS=<change-me>
GOOGLE_CLOUD_PROJECT=<change-me>
MAX_BRAIN_SIZE=52428800
MAX_REQUESTS_NUMBER=200

#Private LLM Variables
PRIVATE=False
MODEL_PATH=./local_models/ggml-gpt4all-j-v1.3-groovy.bin

#RESEND
RESEND_API_KEY=<change-me>
RESEND_EMAIL_ADDRESS=onboarding@resend.dev
