NEXT_PUBLIC_ENV=local
NEXT_PUBLIC_BACKEND_URL=http://localhost:5050
NEXT_PUBLIC_SUPABASE_URL=https://vvtcrqodhvwxiikjaqaz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2dGNycW9kaHZ3eGlpa2phcWF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODc5NjM4MTQsImV4cCI6MjAwMzUzOTgxNH0.NFOhIUqaIS8biSypGqbekKWQy0GITLV2_SqCu-Cj4qg
NEXT_PUBLIC_JUNE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2dGNycW9kaHZ3eGlpa2phcWF6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY4Nzk2MzgxNCwiZXhwIjoyMDAzNTM5ODE0fQ.pGdXGrXA1g4kf1MgORijs0QSGCFokIRCrU40M9dcAAo
